.body-games {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(50% + 480px);
	height: var(--height-mobile-screen);
}

.body-games-btn {
	width: 48%;
	height: 320px;
	padding: 32px;
	font-family: var(--font-titles);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-black);
}