.tournament-page {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
}

.tournament-board {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 64%;
	z-index: 1;
}

.demis, .finals, .winner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.demis .match, .finals .match {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24dvh;
}

.progressive-line-demis {
	position: absolute;
	left: 280px;
	width: calc(((100% - (2 * 288px + 360px)) / 2) + 146px);
}

.top {
	border-top: 4px solid var(--color-computer-300);
	border-right: 4px solid var(--color-computer-300);
}

.player1 {
	top: 42px;
	height: calc(24dvh - 42px);
}

.player2 {
	top: calc(((24dvh - 88px * 2) + 88px) + 42px);
	height: 46px;
}

.bot {
	border-bottom: 4px solid var(--color-computer-300);
	border-right: 4px solid var(--color-computer-300);
}

.player3 {
	bottom: calc(((24dvh - 88px * 2) + 88px) + 42px);
	height: 46px;
}

.player4 {
	bottom: 42px;
	height: calc(24dvh - 42px);
}

.progressive-line-finals {
	position: absolute;
	left: calc((2 * 280px) + ((100% - (2 * 280px + 360px)) / 2));
	width: calc((100% - (2 * 280px + 360px)) / 2);
}

.player1-game3 {
	height: 46px;
}

.player2-game3 {
	height: calc(24dvh - 42px);
}

.mid {
	border-bottom: 4px solid var(--color-computer-300);
}

.demis .match:nth-child(1) {
	margin-bottom: 24dvh;
}

.invisible {
	display: none;
}